* {
    padding: 0;
    margin: 0;
}

.bg-green {
    background: rgba(1, 183, 98, 1);
}

.fs-10 {
    font-size: 10px;
}
.fs-20 {
    font-size: 18px;
}
.fs-25 {
    font-size: 25px;
}
.bg-grey{
    background: #F5F5F5;
    color: black;
    border: none;
}
.fira {
    font-family: 'Fira Sans Extra Condensed';
    font-style: normal;
}
.fade{
    text-transform: capitalize;
}
.noto {
    font-family: 'Noto Sans';
    font-style: normal;
}
.greenText{
    color: #01B762;
}
.fs-35 {
    font-size: 35px;
}
.fs-30 {
    font-size: 30px;
}
.fs-40 {
    font-size: 40px;
}

.fs-45 {
    font-size: 45px;
}
.fs-38 {
    font-size: 38px;
}

.fs-50 {
    font-size: 50px;
}

.fs-60 {
    font-size: 60px;
}

.fWeight-400 {
    font-weight: 400;
}

.fWeight-500 {
    font-weight: 500;
}

.fWeight-600 {
    font-weight: 600;
}

.fWeight-700 {
    font-weight: 700;
}

.fWeight-800 {
    font-weight: 800;
}

input[type='radio']{
    width: 20px;
    height: 20px;
    accent-color:  #01B762;
}
input[type='radio']:hover{
    accent-color:  #01B762;
}
.text-justify {
    text-align: justify;
}

.bg-box {
    background: rgba(245, 245, 245, 1);
}

.spacing {
    letter-spacing: 0.01em;
}

.greenBtn:hover {
    background: rgba(1, 183, 98, 1);
}

.mailButton input {
    border: none;
    background: transparent;
}

.mailButton input:focus {
    outline: none;
}

.mailButton input::placeholder{
    color: rgba(0, 0, 0, 0.55);
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
}
.text-grey {
    color: rgba(0, 0, 0, 0.55);
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
}

.slideshow {
    width: 80%;
}

.wrapper {
    box-sizing: content-box;
    background-color: #ffffff;
    height: 90px;
    display: flex;
}

.words {
    overflow: hidden;
}

.words span {
    display: block;
    height: 100%;
    padding-left: 10px;
    color: #fc1c5b;
    animation: spin_words 6s infinite;
    color: #01B762;
}

@keyframes spin_words {
    10% {
        transform: translateY(-112%);
    }

    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-212%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-312%);
    }

    75% {
        transform: translateY(-300%);
    }

    85% {
        transform: translateY(-412%);
    }

    100% {
        transform: translateY(-400%);
    }
}

/* ################### Silder################## */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Fading animation */
.slideshow-container .fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

.rightText {
    font-size: 55px;
    color: rgba(255, 255, 255, 0.63);
    transform: rotate(-90deg);
    white-space: nowrap;
}